:root {
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

body {
  display: grid;
  place-items: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--color-light-gray);
}

.card-container {
  padding: 1rem;
  max-width: 17rem;
  background-color: white;
  border-radius: 1rem;
}

.card-image {
  border-radius: 0.5rem;
}

.card-title {
  margin-top: 1rem;
  text-align: center;
  color: var(--color-dark-blue);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
}

.card-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.3;
}
